{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}
<style>
    .left-aligned {
    text-align: left;
}
.custom-line-spacing {
    line-height: 1.5; 
}
</style>

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">   
    <center><div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 60%; width: 50%;">
            <center>
                <h3>Zafar Iqbal Rajput</h3>
                <p class="custom-line-spacing" style="font-weight: 350;">Hi, I am Zafar Iqbal Rajput. I am an currently
                    Final Year Student of BS Computer Science at Sindh University of Jamshoro. 
                    My main focuses on the technical side are Data Science (Data Analysis, Data Visualization, Machine Learning, Deep Learning & Natural Language Processing).
                </p>
            </center>
            <div class="left-aligned">
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:tocszafariqbal75@gmail.com'><img
                        src="https://img.icons8.com/?size=512&id=ihMzI7k32pJf&format=png" height="40" width="40"></a> :
                cszafariqbal75@gmail.com<br><br>
                <a target="_blank" href='https://www.instagram.com/zafar_iqbal_rajput112/'><img
                        src="https://img.icons8.com/?size=512&id=32323&format=png" height="44" width="44"></a> :
                zafar_iqbal_rajput112<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/zafar-iqbal-226a5b1b0/'><img
                        src="https://img.icons8.com/?size=512&id=xuvGCOXi8Wyg&format=png" height="40" width="40"></a> :
                Zafar Iqbal<br>
            </div>
        </div>
    </div></center>
</div>

{% endblock body %}